.App {
  text-align: center;
  width: 80%;
  margin: 50px auto;
  max-width: 1000px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#member-list-component{
  border: 1px solid #ccc;
  padding: 30px;
  position: relative;
  padding-top: 100px;
}

.header{
  background: skyblue;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
}

.header button{
  float: right;
  margin-right: 20px;
}

span.count{
  border-radius: 28px;
  background: lightblue;
  color: #fff;
  padding: 1px 7px;
  font-size: 21px;
  margin-left: 20px;
}


ul{
  list-style-type: none;
  padding-left: 0;
}

#container{
  display: flex;
  flex-direction: row;
}

#container > div{
  flex-grow: 1;
}

#users-available{
  height: 200px;
  display: block;
  overflow: scroll;
  border: 1px solid #000;
}


#users-available li{
  padding: 10px 0;
  cursor: pointer;
}

li.selected{
  background: yellow;
}

#users-assigned{
  height: 200px;
  display: block;
  overflow: scroll;
  border: 1px solid #000;
}

#users-assigned li{
  padding: 10px 0;
  cursor: pointer;
}