.App {
  text-align: center;
  width: 80%;
  margin: 50px auto;
  max-width: 800px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#member-list-component{
  border: 1px solid #ccc;
  padding: 30px;
  position: relative;
  padding-top: 100px;
}

.header{
  background: skyblue;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
}

.header button{
  float: right;
  margin-right: 20px;
}

span.count{
  border-radius: 28px;
  background: lightblue;
  color: #fff;
  padding: 1px 7px;
  font-size: 21px;
  margin-left: 20px;
}


ul{
  list-style-type: none;
  padding-left: 0;
}

#container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
}

#container > div{
  flex: 1 1 45%;
  padding: 0 12px;
}

#users-available{
  height: 300px;
  display: block;
  overflow: scroll;
  background: #rgba(242,245,245,0.8);
  border-top: 1px solid #bdc3c7;
  border-left: 1px solid #bdc3c7;
  border-right: 1px solid #bdc3c7;
  border-radius: 10px;
  font-size: 13px;
}

input[type="text"]{
  width: 95%;
    margin-bottom: 10px;
    padding: 10px;
}


#users-available li{
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid #bdc3c7;
}

li.selected{
  background:#c2dbff;
}

#users-assigned{
  height: 300px;
  display: block;
  overflow: scroll;
  border: 1px solid #bdc3c7;
  border-radius: 10px;
  font-size: 13px;
}

#users-assigned li{
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid #bdc3c7;
}